.idea/
__pycache__/

model_weight/

test_imgs/gallery/*
test_imgs/query/*


models/__pycache__/resnet50.cpython-36.pyc

result.mat

t1.jpg
t2.jpg
code_test.py
0.jpg
1.jpg
test_code.py
weight/reid_weight.pth